<a href="https://colab.research.google.com/github/annissatessffaaye/QA-Data-Engineering-Bootcamp-Azure-Python-SQL/blob/main/03_SetTheory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# [ ] -> square brackets MEAN LIST
A = [1,5,7,9,13,1,5,7,9,13]
B = [3,5,7,9,11,3,5,7,9,11]
print(A)
print(B)

[1, 5, 7, 9, 13, 1, 5, 7, 9, 13]
[3, 5, 7, 9, 11, 3, 5, 7, 9, 11]

In [2]:
# list fruits-> [banana, apple, banana] was valid!
# in a set -> NO DUPLICATION is allowed, and NO Order is followed!
# set(fruits)-> {banana,apple} or {apple,banana}
# CURLY BRACES-> { }. a SET-> No DUPLICATION no ORDER

In [3]:
setA = set(A)
setB = set(B)

In [4]:
setA

{1, 5, 7, 9, 13}

In [5]:
setB

{3, 5, 7, 9, 11}

In [6]:
setC = {False, 0, 42, "Pikachu", "Imotep", "Yokozuna", 10, -3, False, True}
setC
# Deduplication -> FALSE which means 0 -> 
#so between 0 False and False -> 0 remains
#so between False 0 and False -> False remains
# First come first serve

{-3, 10, 42, False, 'Imotep', 'Pikachu', True, 'Yokozuna'}

In [7]:
# Union-> combining two sets
setA.union(setB)

{1, 3, 5, 7, 9, 11, 13}

In [8]:
# intersection-> taking common values out
# https://www.researchgate.net/figure/A-Venn-diagram-of-unions-and-intersections-for-two-sets-A-and-B-and-their-complements_fig1_332453167
# https://www.mathsisfun.com/sets/venn-diagrams.html

In [9]:
# ( ) -> tuples-> read only values
# NO CHANGES what so ever once created