<a href="https://colab.research.google.com/github/annissatessffaaye/QAPython/blob/master/dfe_001_advanced_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Series and Propagation 
# 1 2 3 4 5 ? = 6 -> ARITHMETIC 
# 2 4 8 16 32 ? = 64-> Geometric series 
# harmonic series, 
# Temp->
# 10(today) 9(yester) 8 (day-before)
# tomorrow=? 11, day-after=12... 
# 10, 8, 9 , 10, 9, 8

In [ ]:
# series generated, transformed, converted to same units!

In [ ]:
blah = [10,20,30,40,50]
#
# result = [11,21,31,41,51]
blah2 = []
print(blah2)
for element in blah:
  newresult = element + 1
  blah2.append(newresult)
  print('****')
  print(blah2)

[]
****
[11]
****
[11, 21]
****
[11, 21, 31]
****
[11, 21, 31, 41]
****
[11, 21, 31, 41, 51]

In [ ]:
a = [1,2,3,4,5]
result = []
for b in a:
  newresult = b*b
  result.append(newresult)

print(result)

[1, 4, 9, 16, 25]

In [ ]:
a= [1,2,3,4,5]

# List COMPREHENSIONS allow US to generate SERIES or create transformations
# on top of series!

result1 = [element+1 for element in a ]
result2 = [element*element for element in a]
print(result1)
print(result2)

[2, 3, 4, 5, 6]
[1, 4, 9, 16, 25]

In [ ]:
mydata = [10,20,30,40,50]
# result = [5,10,15,20,25]

result = [int(element/2) for element in mydata]
print(result)

[5, 10, 15, 20, 25]

In [ ]:
mydata = "Doctor Who went up the hill to fetch a pint of water."
bag = []
for word in mydata.split(" "):
  bag.append(word)


print(bag)
# negative indexing-> right to left 
print(bag[-2])

['Doctor', 'Who', 'went', 'up', 'the', 'hill', 'to', 'fetch', 'a', 'pint', 'of', 'water.']
of

In [ ]:
# program to find all even length words in my sentence
# doctor, went, up-> even numbered
# who, the, a-> odd numbered 
# 1. Loop in every word of sentence
# 2. Calculate the length of every word
# 3. if length is even, ONLY then-> append to result

In [ ]:
mydata = "Doctor Who went up the hill to fetch a pint of water."
bag = []
# 1. Loop in every word of sentence
for word in mydata.split(" "):
  # 2. Calculate the length of every word
  lngth = len(word)
  # 3. if length is even, ONLY then-> append to result 
  if(lngth % 2== 0):
    bag.append(word)

print(bag)

['Doctor', 'went', 'up', 'hill', 'to', 'pint', 'of', 'water.']

In [ ]:
mydata = "Doctor Who went up the hill to fetch a pint of water."
# syntax = [ expression(iterator) for iterator in data]
result = [  word   for word in mydata.split(" ") if len(word)%2==0 ]
# by just mentioning word-> we mean don't change the value, return as-is
print(result)

['Doctor', 'went', 'up', 'hill', 'to', 'pint', 'of', 'water.']

In [ ]:
def odd_or_even(word):
  if(len(word) %2 == 0):
    return word
    
  
mydata = "Doctor Who went up the hill to fetch a pint of water."
# syntax = [ expression(iterator) for iterator in data]
result = [ odd_or_even(word) for word in mydata.split(" ")]
print(result)

['Doctor', None, 'went', 'up', None, 'hill', 'to', None, None, 'pint', 'of', 'water.']

In [ ]:
odd_or_even('the')

In [ ]:
mydata = "Doctor Who went up the hill to fetch a pint of water."
# syntax = [ expression(iterator) for iterator in data]
result = [  word+"1"   for word in mydata.split(" ") if len(word)%2==0 ]
# by just mentioning word-> we mean don't change the value, return as-is
print(result)

['Doctor1', 'went1', 'up1', 'hill1', 'to1', 'pint1', 'of1', 'water.1']

In [ ]:
mydata = ["$30", "£40","$30", "£40","£30", "£40"]
# 1. loop into all elements
# 2. if element contains '$' symbol
#.   2b.   extract number from the $value
#.   2c.   multiply this number to exchange rate
#.   2d.   add £ and save into dataset

In [ ]:
# 1. loop into all elements
def dollar_to_pound(val):
  # remove $ 
  val = int(val[1:]) #if val was $56, we are ignoring 0th position, and taking everything from 1st
  exchange_rate = 0.74
  newvalue= int(val*exchange_rate)
  return '£'+str(newvalue)
result = [ dollar_to_pound(element) if(element[0]=='$') else element for element in mydata ]
print(mydata)
print(result)

['$30', '£40', '$30', '£40', '£30', '£40']
['£22', '£40', '£22', '£40', '£30', '£40']